/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // withName: QUERY_EUROPEPMC {
    //     // ext.args = '--page-size 10'
    //     // publishDir = [
    // //    ext.args = '--mode genome'
    // //     publishDir = [
    // //         path: { "${params.outdir}/busco" },
    // //         mode: params.publish_dir_mode,
    // //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // //         saveAs: { filename -> filename.equals('*.png') ? null : filename }
    // //     ]
    // }
    // withName: WRITE_TO_GBC {
    //     // ext.args = '--accession-types accession_types.txt --db mydb'
    //     // publishDir = [
    // }
}
