// includeConfig 'conf/modules.config'

params.accession_types = 'accession_types.json'

profiles {
    local {
        executor.name = 'local'
    }
    test_local {
        executor.name     = 'local'
        cleanup           = false

        params {
            page_size = 5
            limit     = 20
            db        = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis-test'
        }
    }
    test_cloud {
        cleanup           = false

        workDir           = 'gs://gbc-epmc-accession-loading/nextflow-test'
        conda.enabled     = false
        docker.enabled    = true

        params {
            page_size = 5
            limit     = 20
            db        = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis-test'
        }

        process {
            executor  = 'google-batch'
            container = 'docker.io/carlacummins/gbc-accessions-nextflow:v1.1'
            machineType = 'e2-small'
        }

        google {
            project = 'gbc-publication-analysis'
            location = 'europe-west2'
            batch.spot = true
        }
    }
    production {
        workDir           = 'gs://gbc-epmc-accession-loading'
        conda.enabled     = false
        docker.enabled    = true

        params {
            page_size = 250
            limit     = null
            db        = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis'
        }

        process {
            executor  = 'google-batch'
            container = 'docker.io/carlacummins/gbc-accessions-nextflow:v1.1'
            machineType = 'e2-small'
        }

        google {
            project = 'gbc-publication-analysis'
            location = 'europe-west2'
            batch.spot = true
        }
    }
}